
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Login</title>
          <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
          <link rel="stylesheet" href="stylesheets/patientlogin.css">
      </head>
      <body>
        <div class="sidenav">
            <div class="login-main-text">
               <h2>Application<br> Login Page</h2>
               <p>Login or register from here to access.</p>
               <img src="assets/doodle-login.png" alt="">
            </div>
         </div>
         <div class="main">
            <div class="col-md-6 col-sm-12">
               <div class="login-form">
                  <form>
                     <div class="form-group">
                        <label>Email </label>
                        <input type="email" class="form-control" placeholder="Email id" name ="email">
                     </div>
                     <div class="form-group">
                        <label>Phone no.</label>
                        <input type="text" class="form-control" placeholder="Phone no." name ="phone">
                     </div>
                     <button type="submit" class="btn btn-black">Login</button>
                    <button  class="btn btn-secondary"><a href="/patientsignup">  Register</a></button>
                  </form>
               </div>
            </div>
         </div>
        
         
         <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      </body>
      </html>